@media (min-width: 992px) {
  .typo-line {
    padding-left: 140px;
    margin-bottom: 40px;
    position: relative;
  }

  .typo-line .category {
    transform: translateY(-50%);
    top: 50%;
    left: 0px;
    position: absolute;
  }
}

.all-icons [class*='pe-'] {
  font-size: 40px;
}
.all-icons input {
  border: 0;
}
.all-icons .font-icon-detail {
  text-align: center;
  padding: 45px 0px 30px;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  margin: 15px 0;
}
.all-icons .font-icon-detail input {
  margin: 25px auto 0;
  width: 100%;
  text-align: center;
  display: block;
  color: #aaa;
  font-size: 13px;
}

#map {
  position: relative;
  width: 100%;
  height: calc(100% - 60px);
}

.places-buttons .btn {
  margin-bottom: 30px;
}
.sidebar .nav > li.active-pro {
  position: absolute;
  width: 100%;
  bottom: 50px;
}
.sidebar .nav > li.active-pro a {
  background: rgba(255, 255, 255, 0.14);
  opacity: 1;
  color: #ffffff;
}

.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3) {
  text-align: center;
}

// @media all and (max-width: 991px) {
.sidebar .nav > li.active-pro {
  position: initial;
}
// }

.bg-gradient-1 {
  background: #0cb04a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #a92921,
    #0cb04a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #a92921,
    #0cb04a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.spi {
  width: 90px;
  // height: 60px;
  padding: 20px;
  // background-color: #0cb1c4;
  animation-name: spin;
  animation-duration: 210000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
  /* transform: rotate(0.3rad);/ */
  /* transform: rotate(3grad); */
  /* transform: rotate(.03turn);  */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
}

div.tortu {
  width: 90px;
  // height:50px;
  //  background-color:red;
  position: fixed;
}

// chritsmas

.containerLights {
  width: 100%;
  margin-top: 50px;
  padding: 0;
}

.christmas-lights {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  margin: 0;
  padding: 0;
  width: 100%;
}

.christmas-lights li {
  position: relative;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  width: 12px;
  height: 30px;
  border-radius: 50%;
  margin: 20px;
  display: inline-block;
  background: rgba(0, 255, 255, 1);
  box-shadow: 0px 5px 24px 3px rgba(0, 255, 255, 1);
  animation-name: flash-1;
  animation-duration: 3.5s;
}

.christmas-lights li:nth-child(2),
.christmas-lights li:nth-child(5),
.christmas-lights li:nth-child(8),
.christmas-lights li:nth-child(11),
.christmas-lights li:nth-child(14) {
  background: rgba(0, 247, 165, 1);
  box-shadow: 0px 5px 24px 3px rgba(0, 247, 165, 1);
  animation-name: flash-2;
  animation-duration: 3s;
}

.christmas-lights li:nth-child(3),
.christmas-lights li:nth-child(6),
.christmas-lights li:nth-child(9),
.christmas-lights li:nth-child(12),
.christmas-lights li:nth-child(15) {
  background: rgba(247, 0, 148, 1);
  box-shadow: 0px 5px 24px 3px rgba(247, 0, 148, 1);
  animation-name: flash-3;
  animation-duration: 2.5s;
}

@keyframes flash-1 {
  0%,
  100% {
    background: rgba(0, 255, 255, 1);
    box-shadow: 0px 5px 24px 3px rgba(0, 255, 255, 1);
  }
  50% {
    background: rgba(0, 255, 255, 0.5);
    box-shadow: 0px 5px 24px 3px rgba(255, 0, 149, 0.2);
  }
}

@keyframes flash-2 {
  0%,
  100% {
    background: rgba(0, 247, 165, 1);
    box-shadow: 0px 5px 24px 3px rgba(0, 247, 165, 1);
  }

  50% {
    background: rgba(0, 247, 165, 0.5);
    box-shadow: 0px 5px 24px 3px rgba(0, 247, 165, 0.2);
  }
}

@keyframes flash-3 {
  0%,
  100% {
    background: rgba(247, 0, 148, 1);
    box-shadow: 0px 5px 24px 3px rgba(247, 0, 148, 1);
  }
  50% {
    background: rgba(247, 0, 148, 0.5);
    box-shadow: 0px 5px 24px 3px rgba(247, 0, 148, 0.2);
  }
}

.christmas-lights li:before {
  content: '';
  position: absolute;
  background: #222;
  width: 10px;
  height: 10px;
  top: (0- (5px));
  left: 1px;
}

.christmas-lights li:after {
  content: '';
  position: absolute;
  top: (0 - (2px));
  left: 15px;
  width: 40px;
  height: 20px;
  border-bottom: solid #222 2px;
  border-radius: 50%;
}
.christmas-lights li:last-child:after {
  content: none;
}
